/* h1 {
  color: blue;
}

#red {
  color: red;
} */

/* footer > p {
  color: red;
} */

/* h2 ~ p {
    color: red;
} */

/* h2 ~ a {
  color: red !important;
} */

h2 + a {
  color: red !important;
}

/* a[href*="https://algoexpert.io"]
{
  color: green;
} */
